{% extends 'base.html' %}
    
    {% block title %}
    registration
    {% endblock title %}

{% block body %}

<form action="" method="post" novalidate>
    {% csrf_token %}
    <h1>{{message}}</h1>

    <br><br>
    <div class="container w-25" style="text-align: center;">
        <div class="row form-control  ">
            <div class="col mt-3" >
                {% for fm in form %}
                {{ fm.label_tag}} {{fm}} <span style="color: red;">{{ fm.errors|striptags }}</span> 
                <hr>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-success">
                <a href="{% url 'user_login' %}" class="btn btn-warning">login</a>
            </div>
        </div>
    </div>
</form>

{% endblock body %}

{% block script %}

{% endblock script %}

</body>
</html>
<!-- {{form.username.label_tag}}{{form.username}} {{form.username.errors|striptags}} -->